@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

* {
  font-family: "Urbanist", sans-serif;
}

.instagram-logo {
  width: 325px;
  height: auto;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  flex: 1 0 100%;
  margin: 10px;
}

#avatar {
  width: 50px;
}

.commentaires {
  border: 2px solid black;
}


